@page
@model CinemaBooking.Pages.Queries.Query3Model
@{
    ViewData["Title"] = "Query3";
}

<h2>Maximum Minimum Query</h2>
<br>

<b> This query is displaying the minimum and maximum prices paid for bookings.</b>
@ViewData["MaxMinQuery"]