@page
@model ContactModel
@{
    ViewData["Title"] = "Information Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Tutor Information</strong> <br />
    Year 2 Computing Technologies<br />
    Visual Web Development <br />
    COM412 - Simon Fraser <br />
    Email - <a href="sg.fraser@ulster.ac.uk"> sg.fraser@ulster.ac.uk </a> <br />
</address>
<br />
<address>
    <strong>Developer's Information </strong> <p>
    <strong> 1- </strong> Ryan McDonnell (B00759566) <br /> Student Email - <a href="mcdonnell-r9@ulster.ac.uk"> mcdonnell-r9@ulster.ac.uk </a> <br /> <br />
    <strong> 2- </strong>Eoin McLaughlin (B00650670) <br /> Student Email - <a href="McLaughlin-E24@ulster.ac.uk"> McLaughlin-E24@ulster.ac.uk </a>
</p><br />
</address>
